<!DOCTYPE html>
<html>

<head>
  <title>Pelipaikka</title>
</head>

<body>
 <h1>Pelipaikka</h1>
 <p>
   <a href="/login">Kirjaudu sisään <a/> &zwnj;
   <a href="/register">Luo tunnus <a/> &zwnj;
   <a href="/logout">Kirjaudu ulos <a/> &zwnj;
{% if session.user_id %}
   <a href="/user/{{ session.user_id }}"> Oma profiili </a>
{% endif %}
 <p>

  <form action="/search" method="get">
    <p>
      Hakusana:
      {% if query %}
      <input type="text" name="query" value="{{ query }}" />
      {% else %}
      <input type="text" name="query" />
      {% endif %}
    </p>
    <input type="submit" value="Hae" />
  </form>

 {% for notice in notices %}
  <p>
    <a href="/notice/{{ notice.id }}">{{ notice.title }}</a> / {{ notice.location }} / {{ notice.date }} / {{ notice.level }}
    <br />
    {{ notice.total }} ilmoittautunutta
  </p>
  <hr />
  {% endfor %}
  <p>
    <a href="/{{ page - 1 }}">&lt;&lt;</a>
    Sivu {{ page }}/{{ page_count }}
    <a href="/{{ page + 1 }}">&gt;&gt;</a>
  </p>
  <hr />

  {% if session.user_id %}
  <h2>Uusi ilmoitus</h2>

  <form action="/new_notice" method="post">
    <p>
       Otsikko: <span style="margin-left: 126px;"></span> Sijainti: <span style="margin-left: 132px;"></span> Päivämäärä:<br />
      <input type="text" name="title" maxlength="100" required /> <a/> &zwnj;
      <input type="text" name="location" maxlength="100" required /> <a/> &zwnj;
      <input type="date" name="date" maxlength="100" required /> <a/>
    </p>
    <p>
      Viesti:<br />
      <textarea name="content" rows="5" cols="40" maxlength="5000"></textarea>
    </p>
    <p>
      Pelintaso:<br />
      <select name="level" required>
        <option value="Rento">Rento</option>
        <option value="Kilpailullinen">Kilpailullinen</option>
    </select>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Lähetä" />
 </form>
  {% endif %}

<body>