<!DOCTYPE html>
<html>

<head>
  <title>Kirjautuminen</title>
</head>

<body>
<h1> Kirjaudu sisään </h1>
<a href="/">Takaisin etusivulle</a>

  {% if session.user_id %}
  <p>
    <b> Olet kirjautunut sisään nimellä {{ session.username }} </b>
  </p>

  {% else %}
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" required/>
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" required/>
    </p>

    {% for message in get_flashed_messages() %}
    <p>
      <b>{{ message }}</b>
    </p>
    {% endfor %}

    <input type="submit" value="Kirjaudu" />
  </form>

  {% endif %}
</body>

</html>