<!DOCTYPE html>
<html>

<head>
  <title>Kirjautuminen</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1> Pelipaikka </h1>
  </div>

  <div class="nav"> 
    <a href="/">Takaisin etusivulle</a>
  </div>

<h2> Kirjaudu sisään </h1>

  {% if session.user_id %}
  <p>
    <b> Olet kirjautunut sisään nimellä {{ session.username }} </b>
  </p>

  {% else %}
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" required/>
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" required/>
    </p>

    {% for message in get_flashed_messages() %}
    <p>
      <b>{{ message }}</b>
    </p>
    {% endfor %}

    <input type="submit" value="Kirjaudu" />
  </form>

  {% endif %}
</body>

</html>