<!DOCTYPE html>
<html>

<head>
  <title>Ilmoitus</title>
  <style>
  .content-box {
      border: 1px solid #ccc;
      padding: 10px;
      margin-top: 10px;
      max-width: 300px;
    }
   </style>
</head>

<body>
  <h1>{{ notice.title }}</h1> 
  <a href="/">Takaisin etusivulle </a>

  <p> {{ notice.location}} / {{ notice.date }} </p>
  <p> <a href="/user/{{ notice.user_id }}"> {{ notice.username }} </a>: </p>

  <div class="content-box">
    {{ notice.content }}
  </div>

  {% if notice.user_id == session.user_id %}
  <p>
    <a href="/edit/{{ notice.id }}">Muokkaa</a> |
    <a href="/remove/{{ notice.id }}">Poista</a>
  </p>
  {% endif %}

  {% if session.user_id %}
  <form action="/sign_up/{{ notice.id }}" method="post">
    <input type="submit" value="Ilmoittaudu" />
  </form>
  <form action="/del_sign_up/{{ notice.id }}" method="post">
    <input type="submit" value="Poista ilmoittautuminen" />
  </form>
  {% endif %}

  <p>Ilmoittautuneet:</p>
  <ul>
    {% for signing in signings %}
      <li>{{ signing.username }}</li>
    {% endfor %}
  </ul>
</body>
</html>