<!DOCTYPE html>
<html>

<head>
  <title>Poisto</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>

  <div class="header">
    <h1>Pelipaikka</h1>
  </div>

  <div class="nav"> 
  <a href="/">Takaisin etusivulle </a>
  </div>

  <h1> Ilmoituksen poisto</h1>
  <form action="/remove/{{ notice.id }}" method="post">
    <p>
      Haluatko varmasti poistaa ilmoituksen?
    </p>
    <input type="submit" name="continue" value="Jatka" />
    <input type="submit" name="cancel" value="Peruuta" />
  </form>
<body>