<!DOCTYPE html>
<html>

<head>
  <title>Käyttäjäsivu</title> 
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1> Pelipaikka </h1>
  </div>

  <div class="nav"> 
  <a href="/">Takaisin etusivulle </a>
  </div>

  <div class="username">
  <h2> Käyttäjän {{ user.username }} profiili </h2> 
  </div>

<div class="content-box">
  <h3>Käyttäjän ilmoitukset</h3>
  <ul>
  {% for notice in own_notices %}
    <li>
      <a href="/notice/{{ notice.id }}">
        {{ notice.title }}</a> / {{ notice.location }} / {{ notice.date }} / {{ notice.level }}    

    </li>  
  {% endfor %}
  </ul>
  <div>
    {% if notice_page > 1 %}
      <a href="?notice_page={{ notice_page - 1 }}&signed_page={{ signed_page }}">Edellinen</a>
    {% endif %}
    {% if notice_page < notice_page_count %}
      <a href="?notice_page={{ notice_page + 1 }}&signed_page={{ signed_page }}">Seuraava</a>
    {% endif %}
  </div>
</div>  

<div class="content-box">
  <h3>Käyttäjän ilmoittautumiset</h3>

  <ul>
  {% for notice in signed_notices %}
    <li>
      <a href="/notice/{{ notice.id }}">
        {{ notice.title }}</a> / {{ notice.location }} / {{ notice.date }} / {{ notice.level }}
      </a>
    </li>  
  {% endfor %}
  </ul>
  <div>
    {% if signed_page > 1 %}
      <a href="?notice_page={{ notice_page }}&signed_page={{ signed_page - 1 }}">Edellinen</a>
    {% endif %}
    {% if signed_page < signed_page_count %}
      <a href="?notice_page={{ notice_page }}&signed_page={{ signed_page + 1 }}">Seuraava</a>
    {% endif %}
  </div>
</div>  
</body>
</html>