<!DOCTYPE html>
<html>

<head>
  <title>Käyttäjäsivu</title> 
</head>

<body>
  <h1>Käyttäjän {{ user.username }} profiili</h1> 
  <a href="/">Takaisin etusivulle</a>

  <h2>Omat ilmoitukset</h2>
  <ul>
  {% for notice in own_notices %}
    <li>
      <a href="/notice/{{ notice.id }}">
        {{ notice.title }}
      </a>
    </li>  
  {% endfor %}
  </ul>

  <h2>Käyttäjän ilmoittautumiset</h2>

  <ul>
  {% for notice in signed_notices %}
    <li>
      <a href="/notice/{{ notice.id }}">
        {{ notice.title }}
      </a>
    </li>  
  {% endfor %}
  </ul>
</body>
</html>